parameters:
    level: 6
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # We don't actually need array shape enforcement in tests.
#        -
#            message: '#type has no value type specified in iterable type array#'
#            path: tests/
#        -
#            message: '#type has no value type specified in iterable type iterable#'
#            path: tests/
#        -
#            message: '#Method (.*) has parameter \$(.*) with no value type specified in iterable type array#'
#            path: tests/
        # PHPStan is overly aggressive on readonly properties.
        - '#Class (.*) has an uninitialized readonly property (.*). Assign it in the constructor.#'
        - '#Readonly property (.*) is assigned outside of the constructor.#'
        # PHPstan can't handle a dynamic type call to a generic.  Or something.
        - '#Unable to resolve the template type T in call to method Crell\\Serde\\Serde::deserialize\(\)#'
